html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    margin-bottom: 20px;
}

img {
    margin-right: 20px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}